.receiver{
	margin: 0.25rem -1rem;
	padding: 0.5rem 1rem;
	background-color: #E1F5FE;
}
.detail{
	background-color: #FFF8E1;
}

.bookdata{
	color: #EF6C00;
}

.over{
	margin-left: -1rem;
	margin-right: -1rem;
	opacity: 0.15;
}

.ove2r{
	
	opacity: 0.15;
}

.state-select{
	width: 220px;
}

.bg-editing{
	color: #f00;
	font-weight: bold;
	background-color: #ff6;
	opacity: 1;
}