.arrow{
	background-color: #78909C;
}
.arrow:hover{
	background-color: #B0BEC5;
	color: #fff;
}
.page-item a{
	cursor: pointer;
}
.page-item.active a{
	cursor: default;
}
.page-item.disabled a{
	cursor: default;
	background-color: #ECEFF1;
	color: #CFD8DC !important;
}
